# This file tells Lombok to copy @Qualifier annotations
# to generated constructor parameters so Spring can inject
# the correct bean when multiple beans of the same type exist.
#
# Required for: MetaApiClient injection of @Qualifier("metaWebClient")
#

config.stopBubbling = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier